<a href="https://colab.research.google.com/github/Edina-chemu/brics_astro/blob/main/Week1/02_variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Variables and Data Types

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/Danselem/brics_astro/blob/main/Week1/02_variables.ipynb)


<div style="text-align: center;">
  <img src="https://physicsworld.com/wp-content/uploads/2022/03/Planets-in-Alpha-Centauri-system-could-be-carbon-rich-%E2%80%93-if-they-exist.jpg" width="800"/>
</div>



## Overview

This lecture introduces the basic concepts of Python variables and data types. It also highlights their applications in astronomy. This will serve as the foundation for the follow up topics in dealing with astronomy data, as variables allow you to store and manipulate information, while data types define the kind of operations you can perform on this information. This lecture will guide you through variable assignment, naming conventions, and the various data types available in Python, providing practical examples relevant to Astronomy.

## Learning Objectives

By the end of this lecture, you should be able to:

- Define and use variables in Python, adhering to best practices for naming and assignment.
- Identify and utilize various Python data types, including integers, floats, strings, booleans, lists, and dictionaries.
- Understand how data types are used in the context of astronomy data, such as coordinates and attribute information.
- Perform basic operations and manipulations on different data types, reinforcing your understanding of their practical applications in astronomy and data science in general.
- Apply the concepts of variables and data types in solving real-world  problems, including that of astronomy.

## What is a Variable?
Variable is a common terminology in programming for storing information. In Python, a variable is a symbolic name that references or points to an object. Once an object is assigned to a variable, you can refer to that object by the variable name.

Below is an example of creating a variable that represents the name of a star in astronomy.

In [ ]:
star_name = "Alpha Centauri"

This variable `star_name` now holds the string value Alpha Centauri.

To view the value of the variable, we can use the `print()` function.

In [ ]:
print(star_name)

Alpha Centauri

Alternatively, we can simply type the variable name in a code cell and run the cell to display the value of the variable.

In [ ]:
star_name

'Alpha Centauri'

## Naming Variables

When naming variables, you should follow these rules:

- Variable names must start with a letter or an underscore, such as `_`.
- The remainder of the variable name can consist of letters, numbers, and underscores.
- Variable names are case-sensitive, so `star_name` and `Star_Name` are different variables.
- Variable names should be descriptive and meaningful, such as `star_name` instead of `sn`.
- Avoid using Python keywords and built-in functions as variable names, such as `print`, `sum`, `list`, `dict`, `str`, `int`, `float`, `bool`, `set`, `tuple`, `range`, `type`, `object`, `None`, `True`, `False`, `and`, `or`, `not`, `if`, `else`, `elif`, `for`, `while`, `break`, `continue`, `pass`, `def`, `return`, `lambda`, `class`, `import`, `from`, `as`, `with`, `try`, `except`, `finally`, `raise`, `assert`, `del`, `in`, `is`, `global`, `nonlocal`, `yield`, `async`, `await`.

## Data Types

Data types are different ways a data can be represented. Python supports various data types, which are essential to understand before working with astronomy data. The most common data types include:

**a) Integers (int):** These data representing whole numbers, e.g., 1, 150, -4. It can be positive or negative but do not have a part of a fraction (decimal points).

In [1]:
num_features = 20  # Represents the number of features in a catalog

**b) Floating-point numbers (float):** These are data representing numbers with a decimal point, e.g., 3.14, -0.1, 100.5 etc. You can write multiple lines of code in a single code cell. The output will be displayed for the last line of code.

In [ ]:
RA = 219.9021  # Represents the Right Ascension of Alpha Centauri
Dec = -60.8340 # Represents the Declination of Alpha Centauri

**c) Strings (str):** Strings are representation of characters, e.g., "Hello", "Astronomy", "Star", "Galaxy".

In [ ]:
coordinate_system = "Equitorial"  # Represents a commonly used coordinate system in Astronomy

Strings can be enclosed in single quotes (`'`) or double quotes (`"`). You can also use triple quotes (`'''` or `"""`) for multiline strings.

**d) Booleans (bool):** Booleans represent one of two values: True or False

In [ ]:
is_galaxy = True  # Represents whether a dataset is a galaxy or not.

**e) Lists:** Lists are ordered collections of items, and can be of any data type.

In [ ]:
coordinates = [
    219.9021,
    -60.8340,
]  # A list representing Right ascension and declination of Alpha Centauri

**f) Dictionaries (dict):** Dictionaries are collections of key-value pairs.

In [ ]:
feature_attributes = {
    "name": "Alpha Centauri A",
    "B_mag": 0.4,
    "type": "Star",
    "coordinates": [219.9021, -60.8340,]
}

## Escape Characters

Escape characters are used to insert characters that are illegal in a string. For example, you can use the escape character `\n` to insert a new line in a string.

In [ ]:
print("Hello World!\nThis is a Python script.")

Hello World!
This is a Python script.

Another common escape character is `\t`, which inserts a tab in a string.

In [ ]:
print("This is the first line.\n\tThis is the second line. It is indented.")

This is the first line.
	This is the second line. It is indented.

If you want to include a single quote in a string, your can wrap the string in double quotes. Alternatively, you can use the escape character `\'` to include a single quote in a string.

In [ ]:
print("What's your name?")

What's your name?

## Comments

Comments are used to explain a code and make it readable. In Python, comments start with the hash `#` symbol. Everything after the `#` symbol on a line is ignored by the Python interpreter.

In [ ]:
# This is a comment
num_points = 120  # This is an inline comment

## Operators
Operators are special symbols or keywords in Python that perform operations on values (called operands). Think of them as the mathematical symbols `(+, -, *, /)` and logical connectors (and, or, not) you use in calculations and decision-making, but adapted for programming. Understanding operators is fundamental to performing calculations, comparing values, and controlling the flow of your scientific problems.


### Arithmetic Operators
These are used for standard mathematical operations.


* `+` : Addition (Adds operands)
* `-` : Subtraction (Subtracts the right operand from the left)
* `*` : Multiplication (Multiplies operands)
* `/` : Division (Divides the left operand by the right, result is always a float)
* `//`: Floor Division (Divides and rounds down to the nearest whole number)
* `%`: Modulus (Returns the remainder of the division)
* `**`: Exponent (Raises the left operand to the power of the right)

### Arithmetic Operators Examples

In [ ]:
# Distances in Astronomical Units (AU)
distance_earth_sun = 1.0
distance_mars_sun = 1.52
distance_jupiter_sun = 5.2

# Addition: Total distance from Earth to Jupiter via Sun (simplified)
total_distance = distance_earth_sun + distance_jupiter_sun
print(f"Approximate distance Earth to Jupiter via Sun: {total_distance} AU")

Approximate distance Earth to Jupiter via Sun: 6.2 AU

In [ ]:
# Subtraction: Difference in distance from Sun between Mars and Earth
distance_difference = distance_mars_sun - distance_earth_sun
print(f"Difference in distance (Mars - Earth): {distance_difference:.2f} AU") # Format to 2 decimal places

Difference in distance (Mars - Earth): 0.52 AU

In [ ]:
# Multiplication: Convert Jupiter's distance to kilometers (1 AU approx 150 million km)
distance_jupiter_km = distance_jupiter_sun * 150e6 # 150e6 means 150 * 10^6
print(f"Jupiter's distance from Sun: {distance_jupiter_km:.2e} km") # Scientific notation

Jupiter's distance from Sun: 7.80e+08 km

In [ ]:
# Division: How many times farther is Jupiter than Mars from the Sun?
jupiter_mars_ratio = distance_jupiter_sun / distance_mars_sun
print(f"Jupiter is {jupiter_mars_ratio:.2f} times farther than Mars from the Sun")

Jupiter is 3.42 times farther than Mars from the Sun

In [ ]:
# Floor Division: If a probe travels 0.5 AU per year, how many full years to reach Jupiter?
travel_speed_au_year = 0.5
full_years_to_jupiter = distance_jupiter_sun // travel_speed_au_year
print(f"Full years to reach Jupiter at {travel_speed_au_year} AU/year: {full_years_to_jupiter} years")

Full years to reach Jupiter at 0.5 AU/year: 10.0 years

In [ ]:
# Modulus: Remainder distance after those full years of travel
remainder_distance = distance_jupiter_sun % travel_speed_au_year
print(f"Remaining distance after {full_years_to_jupiter} years: {remainder_distance} AU")

Remaining distance after 10.0 years: 0.20000000000000018 AU

In [ ]:
# Exponent: If brightness decreases with the square of the distance (simplified)
brightness_factor_jupiter = 1 / (distance_jupiter_sun ** 2)
brightness_factor_mars = 1 / (distance_mars_sun ** 2)
print(f"Relative brightness factor at Jupiter's distance: {brightness_factor_jupiter:.3f}")
print(f"Relative brightness factor at Mars' distance: {brightness_factor_mars:.3f}")

Relative brightness factor at Jupiter's distance: 0.037
Relative brightness factor at Mars' distance: 0.433

### Comparison Operators
These operators compare two values and return a Boolean result (True or False).

* `==`: Equal to (Checks if two values are equal)
* `!=`: Not equal to (Checks if two values are not equal)
* `>` : Greater than
* `< `: Less than
* `>=`: Greater than or equal to
* `<=`: Less than or equal to

### Comparison Operators Examples

In [ ]:
sun_temp_kelvin = 5778
sirius_temp_kelvin = 9940
earth_mass_relative = 1.0
jupiter_mass_relative = 317.8

# Equal to: Is the Sun's temperature exactly 5800 K?
is_sun_5800k = (sun_temp_kelvin == 5800)
print(f"Is Sun's temperature 5800 K? {is_sun_5800k}")

Is Sun's temperature 5800 K? False

In [ ]:
# Not equal to: Is Jupiter's mass not equal to Earth's mass?
masses_not_equal = (jupiter_mass_relative != earth_mass_relative)
print(f"Are Jupiter's and Earth's masses different? {masses_not_equal}")

Are Jupiter's and Earth's masses different? True

In [ ]:
# Greater than: Is Sirius hotter than the Sun?
is_sirius_hotter = (sirius_temp_kelvin > sun_temp_kelvin)
print(f"Is Sirius hotter than the Sun? {is_sirius_hotter}")

Is Sirius hotter than the Sun? True

In [ ]:
# Less than: Is Earth less massive than Jupiter?
is_earth_less_massive = (earth_mass_relative < jupiter_mass_relative)
print(f"Is Earth less massive than Jupiter? {is_earth_less_massive}")

Is Earth less massive than Jupiter? True

In [ ]:
# Greater than or equal to: Is the Sun's temperature >= 5500 K?
is_sun_temp_ge_5500 = (sun_temp_kelvin >= 5500)
print(f"Is Sun's temperature >= 5500 K? {is_sun_temp_ge_5500}")

Is Sun's temperature >= 5500 K? True

In [ ]:
# Less than or equal to: Is Earth's mass <= 1?
is_earth_mass_le_1 = (earth_mass_relative <= 1.0)
print(f"Is Earth's mass <= 1? {is_earth_mass_le_1}")

Is Earth's mass <= 1? True

### Logical Operators
These operators combine multiple conditional statements.

* `and`: Returns True if both statements are true.
* `or` : Returns True if at least one statement is true.
* `not`: Reverses the result (returns False if the statement is true, True if it's false).

### Logical Operators Examples

In [ ]:
planet_distance_au = 1.0 # Like Earth
planet_has_liquid_water = True
planet_is_rocky = True
planet_is_gas_giant = False

# 'and': Is the planet potentially habitable (rocky AND has liquid water)?
is_potentially_habitable = planet_is_rocky and planet_has_liquid_water
print(f"Is the planet potentially habitable? {is_potentially_habitable}")

Is the planet potentially habitable? True

In [ ]:
# 'or': Is the planet far away ( > 5 AU) OR a gas giant?
is_far_or_gas = (planet_distance_au > 5.0) or planet_is_gas_giant
print(f"Is the planet far away OR a gas giant? {is_far_or_gas}")

Is the planet far away OR a gas giant? False

In [ ]:
# 'not': Is the planet NOT a gas giant?
is_not_gas_giant = not planet_is_gas_giant
print(f"Is the planet NOT a gas giant? {is_not_gas_giant}")

Is the planet NOT a gas giant? True

In [ ]:
# Combining: Is the planet habitable AND not too far (< 1.5 AU)?
habitable_and_close = is_potentially_habitable and (planet_distance_au < 1.5)
print(f"Is the planet habitable AND relatively close? {habitable_and_close}")

Is the planet habitable AND relatively close? True

### Assignment Operators
These operators are used to assign values to variables. The basic one is =, but there are shorthand operators combined with arithmetic operators.

* `=` : Assigns value from right side to left side operand.
* `+=`: Adds right operand to the left operand and assigns the result to the left (e.g., x += 1 is same as x = x + 1).
* `-=` : Subtracts right operand from the left and assigns the result to the left.
* `*=`: Multiplies left operand with the right and assigns the result to the left.
* `/=` : Divides left operand by the right and assigns the result to the left.
* `//=`: Performs floor division and assigns the result.
* `%=` : Performs modulus and assigns the result.
* `**=`: Performs exponentiation and assigns the result.

### Assignment Operators Examples

In [ ]:
# Let's say we are counting the number of planets in our Solar System
number_of_planets = 8
print("There are", number_of_planets, "planets in the Solar System.")

# += : Adds right operand to the left
# Suppose we discover 2 new stars in a star cluster
stars_in_cluster = 5
stars_in_cluster += 2
print("Total stars in the cluster now:", stars_in_cluster)

There are 8 planets in the Solar System.
Total stars in the cluster now: 7

In [ ]:
# -= : Subtracts right operand from the left
# A galaxy loses 1 satellite galaxy due to merging
satellite_galaxies = 4
satellite_galaxies -= 1
print("Remaining satellite galaxies:", satellite_galaxies)

Remaining satellite galaxies: 3

In [ ]:
# *= : Multiplies left operand with the right
# Distance to a nearby star is tripled due to better measurements
distance_to_star = 4  # in light-years
distance_to_star *= 3
print("Updated distance to the star:", distance_to_star, "light-years")

Updated distance to the star: 12 light-years

In [ ]:
# /= : Divides left operand by the right
# Total mass of a galaxy is spread across sectors
total_mass = 300  # in billion solar masses
sectors = 3
mass_per_sector = total_mass
mass_per_sector /= sectors
print("Mass per sector:", mass_per_sector, "billion solar masses")

Mass per sector: 100.0 billion solar masses

In [ ]:
# //= : Performs floor division
# Distributing exoplanets evenly among telescopes
exoplanets = 22
telescopes = 5
exoplanets_per_telescope = exoplanets
exoplanets_per_telescope //= telescopes
print("Each telescope observes", exoplanets_per_telescope, "exoplanets")

Each telescope observes 4 exoplanets

In [ ]:
# %= : Performs modulus
# A planet orbits its star in 365 days. What day of the week does it return to the same position?
orbit_day = 365
orbit_day %= 7  # days of the week
print("The planet returns to the same position on day:", orbit_day)

The planet returns to the same position on day: 1

In [ ]:
# **= : Performs exponentiation
# Light intensity decreases with the square of the distance
distance = 2  # in light-years
intensity_factor = distance
intensity_factor **= 2  # square the distance
print("Light intensity drops by a factor of", intensity_factor)

Light intensity drops by a factor of 4

## Summary

Understanding Python variables and data types is crucial in data science programming.
As you proceed with more complex analyses, these concepts will serve as the foundation for your work.
Continue practicing by experimenting with different data types and operations in a astronomy context.

Happy coding!

## Further Reading

For more information on variables and data types in Python, check out the
**Basics** section of the A Byte of Python book:  <https://python.swaroopch.com/basics.html>, <https://python.swaroopch.com/op_exp.html> or \
the Python Tutorial Introduction page <https://docs.python.org/3/tutorial/introduction.html>.

## Exercises

**Variables**

1.  How would you create a variable named `planet_name` and store the text "Jupiter" in it?
2.  How would you create a variable named `distance_to_sun` and store the number `149.6` (representing million kilometers) in it?
3.  If you have a variable `star_temp = 5500`, how would you change its value to `6000`?
4.  How would you create a variable named `is_gas_giant` and set it to `True` (representing that Jupiter is a gas giant)?
5.  If you have the variable `moon_count = 2`, how would you print a message like: "Mars has 2 moons." using this variable?
6.  Is `Number Of Stars` a good variable name in Python? Why or why not?
7.  How would you create a variable called `galaxy_type` and store the text "Spiral" in it?

**Operators**


1.  Subtraction: Earth is 1.0 AU from the Sun, Mars is 1.52 AU. How would you calculate the difference between Mars's distance and Earth's distance using the subtraction operator (`-`)?
2.  Multiplication: Jupiter's orbit takes 11.86 Earth years. An Earth year is 365.25 days. How would you calculate Jupiter's orbital period in days using the multiplication operator (`*`)?
3.  Assignment (`+=`): If a variable `jupiter_moons` currently holds the value `79`, how would you use the `+=` operator to add `3` more moons to it?
4.  Comparison (`>`): Venus's temperature is `462` degrees, Earth's is `15`. How would you check if Venus's temperature is greater than Earth's using the `>` operator? (What is the result?)
5.  Comparison (`==`): If you have a variable `galaxy_type = "Spiral"`, how would you check if its value is exactly equal to `"Elliptical"` using the `==` operator? (What is the result?)
6.  Logical (`and`): A planet needs `has_water = True` AND `atmosphere_ok = False` to be habitable (simple rule). How would you use the `and` operator to see if *both* conditions are met? (What is the result?)
7.  Logical (`or`): Observing is possible if `is_night = True` OR `is_solar_telescope = False`. How would you use the `or` operator to see if *at least one* of these conditions is met? (What is the result?)
8.  Multiple Arithmetic: Proxima Centauri is `4.24` light-years away (`distance_ly`). One light-year is `9.461e12` km (`km_per_ly`). How would you first calculate the total distance in km (`distance_km`) and then print it?